pkgbase = shadowsocks-go
	pkgdesc = go port of shadowsocks. USAGE located at https://github.com/SaberSalv/aur/tree/master/shadowsocks-go
	pkgver = 1.1.5
	pkgrel = 2
	url = https://github.com/shadowsocks/shadowsocks-go
	arch = x86_64
	license = Unkown
	provides = shadowsocks
	conflicts = shadowsocks
	source = https://github.com/shadowsocks/shadowsocks-go/releases/download/1.1.5/shadowsocks-server-linux64-1.1.5.gz
	source = https://github.com/shadowsocks/shadowsocks-go/releases/download/1.1.5/shadowsocks-local-linux64-1.1.5.gz
	source = shadowsocks@.service
	source = shadowsocks-server@.service
	md5sums = 832181392b6164259134e3e3fe1c72bd
	md5sums = ea0301ecfb76f66b9edafc2a3f2015cf
	md5sums = d26ab75cfad5f9cabfccbcbb9801950a
	md5sums = b69a7bc69bd9138e3d092ced44a102a3

pkgname = shadowsocks-go

